<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="refdatasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@blrub301:1521:PIT73" />
		<property name="username" value="system"></property>
		<property name="password" value="system"></property>
	</bean>
	<bean id="studentJdbcTemplate" class="com.daoimplementation.StudentJDBCTemplate">
		<property name="datasource" ref="refdatasource" />
	</bean>

</beans>